#bar .tagline {
  font-weight: normal;
  padding-left: 15px;
}

.content {
  margin-top: 80px;
  margin-bottom: 40px;
  flex-grow: 1;
}

.wrapper {
  margin: 0 auto;
  max-width: 960px;
  min-width: 960px;
}

.column {
  margin: 5px;
  max-width: 270px;
  min-width: 270px;
  min-height: 700px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: #222;
  background: #eee;
  padding: 10px 20px 20px 20px;
  border-radius: 10px;
  float: left;
}

.column h1 {
  font-size: 1.9em;
  line-height: 0.5rem;
}

.column h2 {
  font-weight: 400;
  font-size: 1.7em;
  margin-bottom: 16px;
  line-height: 0.5rem;
}

.column ul {
  margin: 0;
  padding: 0;
}

.column li {
  display: block;
  font-size: 1.1em;
  font-weight: 400;
  text-align: center;
  height: 70px;
  line-height: 44px;
  background: #fff;
  margin-top: 10px;
  color: #222;
  border-radius: 4px;
  transition: background .2s ease, color .2s ease;
}

.column a {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  color: inherit;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.button-column h1 {
  font-size: 1.1em;
  line-height: 20px;
  padding: 3px 0 0;
  margin: 0;
}

.button-column h2 {
  font-size: 0.9em;
  line-height: 18px;
  padding: 5px 7px 0 7px;
  margin: 0;
}

.dl-column h1 {
  font-size: 1.1em;
  font-weight: normal;
  line-height: 0;
}

.dl-column h2 {
  font-size: 0.7em;
}

.dl-column h3 {
  font-size: 0.9em;
  font-weight: normal;
  line-height: 16px;
}

.dl-column li {
  padding-top: 5px;
  height: 80px;
  line-height: 23px;
}

.dl-column span {
  font-size: 24px;
  padding-left: 5px;
  padding-right: 5px;
}

.column li:hover {
  color: #fff;
  background: #222;
}

.column svg {
  margin-left: 10px;
}
