<VirtualHost <IPv4>:80>
    DocumentRoot <PATH>

    ServerName <HOST_ADDRESS>
    ServerAdmin <WEBMASTER_EMAIL>

    RewriteEngine on
    RewriteRule "^/bytebin$" http://%{HTTP_HOST}%{REQUEST_URI}/ [R=301,L,NE]