/* null table defaults */
th {
  font-weight: unset;
  text-align: unset;
}

td, th {
  vertical-align: unset;
}

table {
  border-collapse: unset;
  border-spacing: unset;
  border-color: unset;
}

#bar .material-icons {
  font-size: 40px;
  vertical-align: middle;
  margin-right: 15px;
}

#bar li:last-child {
  font-size: 0;
}

#identifier {
  font-size: 2em;
  font-weight: bold;
}

#identifier[data-type]::before {
  content: attr(data-type) ": ";
  text-transform: capitalize;
}

#identifier[data-type=dev]::before,
#identifier[data-type=group]::before,
#identifier[data-type=user]::before {
  color: #2d2d38;
  background-color: #EEEEEE;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  display: inline-block;
  margin-right: 15px;
  text-align: center;
  line-height: 1em;
}

#identifier[data-type=dev]::before {
  content: "D";
}

#identifier[data-type=group]::before {
  content: "G";
}

#identifier[data-type=user]::before {
  content: "U";
}

#tab {
  overflow-x: auto;
  white-space: nowrap;
  padding-left: 10px;
}

#tab button {
  color: #bbbbbb;
  background-color: inherit;
  border-style: none none solid none;
  border-width: 3px;
  float: none;
  outline: none;
  cursor: pointer;
  padding: 7px 10px;
  transition: 0.3s;
  font-size: 16px;
}

#tab button:hover {
  border-color: #88bb88;
}

#tab .active {
  background-color: #3c3c46;
  border-color: #4bbb5f;
  color: #ffffff;
}

.content {
  flex-grow: 1;
}

.perms-grid {
  background-color: #fff;
}

.alert {
  padding: 20px;
  background-color: #669e00;
  color: white;
  margin-bottom: 15px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.wrapper {
  margin: 0 auto;
  padding: 5px;
  padding-top: 1px;
  max-width: 1100px;
  min-width: 890px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #222;
}

.table-input-bar {
  position: fixed;
  width: 100%;
  max-width: 1100px;
  z-index: 2;
}

.newentry {
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  background: #eeeeee;
  padding-bottom: 10px;
  position: relative;
}

.newentry:before {
  content: 'Add permission:';
  color: #FFF;
  background: #999;
  display: block;
  margin-bottom: 10px;
  padding: 5px 10px;
  font-weight: bold;
}

#inpform {
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
}

#inpform input,
.cell input {
  margin-left: 3px;
  padding: 8px;
  box-sizing: border-box;
  border: 1.5px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  flex: 1;
  max-width: 16vw;
}

#inpform input[name=value] + label {
  background: #FFF;
  text-transform: lowercase;
  color: #F00;
  padding: 0.33em 1em;
  /* font-weight: bold; */
  border-radius: 4px;
  cursor: pointer;
  vertical-align: middle;
  margin-left: 2px;
  transition: background 0.2s, opacity 0.2s;
  border: 0;
  outline: none;
  line-height: 1.5;
  font-family: monospace;
  width: 3em;
  text-align: center;
}

#inpform input[name=value] {
  display: none;
}

#inpform input[name=value] + label:after {
  content: 'False';
}

#inpform input[name=value]:checked + label {
  /* background: green; */
  color: limegreen;
  /* font-family: "Source code pro", monospace; */
}

#inpform input[name=value]:checked + label:after {
  content: 'True';
}

#inpform input[name=value] + label:hover {
  opacity: 0.8;
}

#inpform .add {
  font-size: 35px;
  transition: opacity 0.2s;
}

#inpform .add:hover {
  opacity: 0.8;
}

.awesomplete {
  position: inherit;
  display: flex;
}

.awesomplete > ul {
  min-width: 500px;
  left: initial;
}

.awesomplete li[aria-selected=true] mark {
  background: #88bb88;
}

.awesomplete mark {
  background: #a5eca5;
}

.table {
  margin: 0 0 40px;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: table;
}

.row {
  display: table-row;
  background: #f6f6f6;
}

.row:nth-of-type(odd) {
  background: #e9e9e9;
}

.row.header {
  font-weight: 900;
  color: #ffffff;
  background: #669e00;
}

.row.new td:first-child {
  border-left: limegreen 4px solid;
  position: relative;
}

.cell {
  padding: 2px 12px;
  display: table-cell;
  vertical-align: middle;
}

th.cell {
  padding: 5px 12px;
}

.cell input {
  box-sizing: border-box;
  width: 100%;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  border-radius: 4px;
  background-color: #ffffff;
  color: #141422;
}

.apply_command {
  position: relative;
  cursor: pointer;
  cursor: hand;
}

.apply_command::after {
  content: "Copied to clipboard!";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-color: white;
  border-radius: 4px;
  opacity: 0;
  display: none;
}

.apply_command.copied::after {
  animation: copied 4s;
  display: initial;
}

.code-true {
  color: #14ca00;
}

.code-false {
  color: #ff0016;
}

.loading {
  animation: spin 1s infinite;
}

.cell.buttons {
  width: 0;
  white-space: nowrap;
}

.cell.buttons .copy {
  padding-left: 8px;
  font-size: 22px;
}

#help-section {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

#help-section .help-content {
  background: #eee;
  padding: 20px;
  border-radius: 10px;
}