html {
  position: relative;
  min-height: 100%;
  height: 100%;
  overflow-x: hidden;
  padding: 0;
  font-size: 72.5%;
  overflow-y: auto;
  font-family: 'Source Sans Pro', 'Open Sans', Sans-Serif;
  font-style: normal;
}

body {
  display: flex;
  flex-flow: column;
  margin: 0;
  position: relative;
  min-height: 100%;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.01rem;
  color: #212121;
  background-color: #141422;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

::-webkit-scrollbar {
  width: 10px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.flex-center {
  display: flex;
  align-items: center;
}

.flex-center > :first-child,
.flex-center > :last-child {
  flex: 1;
}

.flex-center > :last-child {
  text-align: right;
}

ul.flex-center {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

#bar {
  min-width: 900px;
  background-color: #2d2d38;
  position: fixed;
  top: 0;
  width: 100%;
  color: #EEEEEE;
}

#bar .tiny-logo {
  margin-top: 10px;
  margin-left: 10px;
  float: left;
  height: 40px;
  width: 40px;
  vertical-align: middle;
  border-radius: 6px;
}

#bar h3 {
  margin-left: 10px;
  float: left;
}

#bar .material-icons {
  font-size: 40px;
  vertical-align: middle;
  margin-right: 15px;
}

#bar li:last-child {
  font-size: 0;
}

#identifier {
  font-size: 2em;
  font-weight: bold;
}

#identifier[data-type]::before {
  content: attr(data-type) ": ";
  text-transform: capitalize;
}

#identifier[data-type=dev]::before,
#identifier[data-type=group]::before,
#identifier[data-type=user]::before {
  color: #2d2d38;
  background-color: #EEEEEE;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  display: inline-block;
  margin-right: 15px;
  text-align: center;
  line-height: 1em;
}

#identifier[data-type=dev]::before {
  content: "D";
}

#identifier[data-type=group]::before {
  content: "G";
}

#identifier[data-type=user]::before {
  content: "U";
}

#tab {
  overflow-x: auto;
  white-space: nowrap;
  padding-left: 10px;
}

#tab button {
  color: #bbbbbb;
  background-color: inherit;
  border-style: none none solid none;
  border-width: 3px;
  float: none;
  outline: none;
  cursor: pointer;
  padding: 7px 10px;
  transition: 0.3s;
  font-size: 14px;
}

#tab button:hover {
  border-color: #88bb88;
}

#tab .active {
  background-color: #3c3c46;
  border-color: #4bbb5f;
  color: #ffffff;
}

.content {
  margin-top: 100px;
  flex-grow: 1;
}

#panel {
  font-size: 1.3em;
  position: absolute;
  border-radius: 10px;
  width: 260px;
  height: 450px;
  background: #eee;
  top: 50%;
  left: 50%;
  z-index: 100;
  text-align: center;
  margin: -300px 0 0 -150px;
  padding: 20px;
}

#panel.hide {
  display: none;
}

#panel .logo {
  height: 180px;
  width: 180px;
  vertical-align: middle;
  border-radius: 6px;
}

#panel h1 {
  font-size: 1.9em;
  color: #222;
  line-height: 0.5rem;
}

#panel h2 {
  font-weight: 400;
  font-size: 0.8em;
  margin-bottom: 16px;
  line-height: 0.5rem;
}

#panel h3 {
  font-weight: 400;
  font-size: 1.0em;
  padding-top: 30px;
  margin-bottom: 10px;
  line-height: 1.7rem;
}

#panel cmd {
  padding: 2px 4px;
  font-size: 80%;
  border-radius: 4px;
  background-color: #ffffff;
  font-family: monospace;
  color: #141422;
  line-height: 2.2rem;
}

#panel .loading-error {
  color: #ff0016;
}

.perms-grid {
  background-color: #fff;
}

.alert {
  padding: 20px;
  background-color: #669e00;
  color: white;
  margin-bottom: 15px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.wrapper {
  margin: 0 auto;
  padding: 5px;
  max-width: 1100px;
  min-width: 890px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #222;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.newentry {
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  background: #eeeeee;
  padding: 10px 0;
  margin-bottom: 22px;
}

#inpform {
  padding: 2px 10px;
  display: inline;
}

#inpform input,
.cell input {
  margin-left: 3px;
  width: 135px;
  padding: 8px;
  box-sizing: border-box;
  border: 1.5px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

#inpform input[name=permission] {
  width: 195px;
}

#inpform .add {
  font-size: 35px;
  vertical-align: middle;
  float: right;
  padding-right: 10px;
}

.table {
  margin: 0 0 40px;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: table;
}
@media screen and (max-width: 580px) {
  .table {
    display: block;
  }
}

.row {
  display: table-row;
  background: #f6f6f6;
}

.row:nth-of-type(odd) {
  background: #e9e9e9;
}

.row.header {
  font-weight: 900;
  color: #ffffff;
  background: #669e00;
}
@media screen and (max-width: 580px) {
  .row {
    padding: 8px 0;
    display: block;
  }
}

.cell {
  padding: 2px 12px;
  display: table-cell;
  vertical-align: middle;
}
@media screen and (max-width: 580px) {
  .cell {
    padding: 2px 12px;
    display: block;
  }
}

.cell input {
  box-sizing: border-box;
  width: 100%;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  border-radius: 4px;
  background-color: #ffffff;
  color: #141422;
}

.apply_command {
  position: relative;
  cursor: pointer;
  cursor: hand;
}

.apply_command::after {
  content: "Copied to clipboard!";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-color: white;
  border-radius: 4px;
  opacity: 0;
  display: none;
}

.apply_command.copied::after {
  animation: copied 4s;
  display: initial;
}

.code-true {
  color: #14ca00;
}

.code-false {
  color: #ff0016;
}

.clickable {
  cursor: pointer;
  cursor: hand;
}

.unclickable {
  opacity: 0.5;
  cursor: not-allowed;
}

.loading {
  animation: spin 1s infinite;
}

.cell.buttons {
  width: 0;
  white-space: nowrap;
}

.cell.buttons .copy {
  padding-left: 8px;
  font-size: 22px;
}

#help-section {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

#help-section .help-content {
  background: #eee;
  padding: 20px;
  border-radius: 10px;
}

.footer {
  overflow: hidden;
  min-width: 600px;
  background: #2d2d38;
  font-size: 75%;
  width: 100%;
  height: 40px;
}

.footer * {
  color: #bbbbbb;
  text-decoration: none;
}

.footer a {
  color: #88bb88;
}

.footer a:hover {
  color: #44bb44;
}

.footer ul li {
  margin: 7px 14px;
  padding: 0;
}

.github-corner {
  position: absolute;
  border: 0;
  bottom: 39px;
  left: 0;
  transform: scale(-1, -1);
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

.github-corner svg path {
  color: #141422;
  fill: #2d2d38;
  transition: color 140ms ease-out, fill 140ms ease-out;
}

.github-corner svg path.octo-arm,
.github-corner svg path.octo-body {
  fill: #141422;
}

.github-corner:hover svg path {
  color: #88bb88;
}

.github-corner:hover svg path.octo-arm,
.github-corner:hover svg path.octo-body {
  fill: #88bb88;
}
@media (max-width:500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out 5s;
  }
}
/* ===================== Animations ===================== */
@keyframes copied {
  0%,
  100% {
    opacity: 0;
  }

  10%,
  90% {
    opacity: 1;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}
@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}
