html {
  position: relative;
  min-height: 100%;
  height: 100%;
  overflow-x: hidden;
  padding: 0;
  font-size: 72.5%;
  overflow-y: scroll;
}

body {
  display: flex;
  flex-flow: column;
  margin: 0px;
  position: relative;
  min-height: 100%;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.01rem;
  color: #212121;
  background-color: #141422;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.flex-center {
  display: flex;
}

.flex-center > :first-child, .flex-center > :last-child {
  flex: 1;
}

.flex-center > :last-child {
  text-align: right;
}

ul.flex-center {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.bar {
  overflow: hidden;
  background-color: #2d2d38;
  position: fixed;
  top: 0;
  width: 100%;
}

.bar .tiny-logo {
  margin-top: 10px;
  margin-left: 10px;
  float: left;
  height: 40px;
  width: 40px;
  vertical-align: middle;
  border-radius: 6px;
}

.bar h3 {
  margin-left: 10px;
  float: left;
  color: #EEEEEE;
}

.bar i {
  font-size: 40px;
  vertical-align: middle;
  float: right;
  margin-top: 10px;
  margin-right: 15px;
  color: #EEEEEE;
}

.content {
  margin-top: 80px;
  flex-grow: 1;
}

.panel {
  font-size: 1.3em;
  position: absolute;
  border-radius: 10px;
  width: 240px;
  height: 450px;
  background: #eee;
  top: 50%;
  left: 50%;
  z-index: 100;
  text-align: center;
  margin: -300px 0 0 -140px;
  padding: 20px;
  line-height: 0.5rem;
}

.panel.hide {
  display: none;
}

.logo {
  height: 180px;
  width: 180px;
  vertical-align: middle;
  border-radius: 6px;
}

.panel h1 {
  font-size: 1.9em;
  color: #222;
}

.panel h2 {
  font-weight: 400;
  font-size: 0.8em;
  margin-bottom: 16px;
}

.panel h3 {
  font-weight: 400;
  font-size: 1.0em;
  padding-top: 30px;
  margin-bottom: 10px;
  line-height: 1.7rem;
}

.panel cmd {
  padding: 2px 4px;
  font-size: 90%;
  background-color: #f9f2f4;
  border-radius: 4px;
  background-color: #ffffff;
  font-family: monospace;
  color: #141422;
  line-height: 2.2rem;
}

.panel input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.panel input#hover {
  border: 3px solid #555;
}

.perms-grid {
  background-color: #fff;
}

.alert {
  padding: 20px;
  background-color: #669e00;
  color: white;
  margin-bottom: 15px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.wrapper {
  margin: 0 auto;
  padding: 5px;
  max-width: 1000px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #222;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.newentry {
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  background: #eeeeee;
  padding: 10px 0px 10px 0px;
  margin-bottom: 22px;
}

.inpform {
  padding: 2px 10px;
  display: inline;
}

.inpform input, .cell input {
  margin-left: 3px;
  width: 135px;
  padding: 8px 8px;
  box-sizing: border-box;
  border: 1.5px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.table {
  margin: 0 0 40px 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: table;
}

@media screen and (max-width: 580px) {
  .table {
    display: block;
  }
}

.row {
  display: table-row;
  background: #f6f6f6;
}

.row:nth-of-type(odd) {
  background: #e9e9e9;
}

.row.header {
  font-weight: 900;
  color: #ffffff;
  background: #669e00;
}

@media screen and (max-width: 580px) {
  .row {
    padding: 8px 0;
    display: block;
  }
}

.cell {
  padding: 2px 12px;
  display: table-cell;
  vertical-align: middle;
}

@media screen and (max-width: 580px) {
  .cell {
    padding: 2px 12px;
    display: block;
  }
}

.cell input {
  box-sizing: border-box;
  width: 100%
}

code {
  padding: 2px 4px;
  font-size: 90%;
  background-color: #f9f2f4;
  border-radius: 4px;
  background-color: #ffffff;
  color: #141422;
}

@keyframes copied {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#apply_command {
  position: relative;
}

#apply_command::after {
  content: "Copied to clipboard!";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  background-color: white;
  border-radius: 4px;
  opacity: 0;
  display: none;
}

#apply_command.copied::after {
  animation: copied 4s;
  display: initial;
}

.code-true {
  color: #14ca00;
}

.code-false {
  color: #ff0016;
}

.clickable {
  cursor: pointer;
  cursor: hand;
}

.cell.buttons {
  width: 0;
  white-space: nowrap;
}

.footer {
  overflow: hidden;
  background-color: #2d2d38;
  font-size: 75%;
  width: 100%;
}

.footer * {
  color: #bbbbbb;
  text-decoration: none;
}

.footer a {
  color: #88bb88;
}

.footer a:hover {
  color: #44bb44;
}

.footer ul li {
  margin: 7px 14px;
  padding: 0;
}
