html {
  position: relative;
  min-height: 100%;
  height: 100%;
  overflow-x: hidden;
  padding: 0;
  font-size: 72.5%;
  overflow-y: auto;
  font-family: 'Source Sans Pro', 'Open Sans', Sans-Serif;
  font-style: normal;
}

body {
  display: flex;
  flex-flow: column;
  margin: 0;
  position: relative;
  min-height: 100%;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.01rem;
  color: #212121;
  background-color: #141422;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

#bar {
  min-width: 900px;
  background-color: #2d2d38;
  position: fixed;
  top: 0;
  width: 100%;
  color: #EEEEEE;
  z-index: 1;
}

#bar .tiny-logo {
  margin-top: 10px;
  margin-left: 10px;
  float: left;
  height: 40px;
  width: 40px;
  vertical-align: middle;
  border-radius: 6px;
}

#bar h3 {
  margin-left: 10px;
  float: left;
}

.flex-center {
  display: flex;
  align-items: center;
}

.flex-center > :first-child,
.flex-center > :last-child {
  flex: 1;
}

.flex-center > :last-child {
  text-align: right;
}

ul.flex-center {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#panel {
  font-size: 1.3em;
  position: absolute;
  border-radius: 10px;
  width: 260px;
  height: 450px;
  background: #eee;
  top: 50%;
  left: 50%;
  z-index: 100;
  text-align: center;
  margin: -300px 0 0 -150px;
  padding: 20px;
}

#panel.hide {
  display: none;
}

#panel .logo {
  height: 180px;
  width: 180px;
  vertical-align: middle;
  border-radius: 6px;
}

#panel h1 {
  font-size: 1.9em;
  color: #222;
  line-height: 0.5rem;
}

#panel h2 {
  font-weight: 400;
  font-size: 0.8em;
  margin-bottom: 16px;
  line-height: 0.5rem;
}

#panel h3 {
  font-weight: 400;
  font-size: 1.0em;
  padding-top: 30px;
  margin-bottom: 10px;
  line-height: 1.7rem;
}

#panel .cmd {
  padding: 2px 4px;
  font-size: 80%;
  border-radius: 4px;
  background-color: #ffffff;
  font-family: monospace;
  color: #141422;
  line-height: 2.2rem;
}

#panel .loading-error {
  color: #ff0016;
}

.footer {
  overflow: hidden;
  min-width: 600px;
  background: #2d2d38;
  font-size: 75%;
  width: 100%;
  height: 40px;
}

.footer * {
  color: #bbbbbb;
  text-decoration: none;
}

.footer a {
  color: #88bb88;
}

.footer a:hover {
  color: #44bb44;
}

.footer ul li {
  margin: 7px 14px;
  padding: 0;
}

.clickable {
  cursor: pointer;
  cursor: hand;
}

.unclickable {
  opacity: 0.5;
  cursor: not-allowed;
}

.github-corner {
  position: absolute;
  border: 0;
  bottom: 39px;
  left: 0;
  transform: scale(-1, -1);
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

.github-corner svg path {
  color: #141422;
  fill: #2d2d38;
  transition: color 140ms ease-out, fill 140ms ease-out;
}

.github-corner svg path.octo-arm,
.github-corner svg path.octo-body {
  fill: #141422;
}

.github-corner:hover svg path {
  color: #88bb88;
}

.github-corner:hover svg path.octo-arm,
.github-corner:hover svg path.octo-body {
  fill: #88bb88;
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out 5s;
  }
}

/* ===================== Animations ===================== */
@keyframes copied {
  0%,
  100% {
    opacity: 0;
  }

  10%,
  90% {
    opacity: 1;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}
