[Unit]
Description=Bytebin service for LuckPerms
After=network-online.target NetworkManager-wait-online.service

[Service]
Type=simple
ExecStart=java -jar <PATH>/bytebin.jar
User=<USER>
Group=<GROUP>

[Install]
WantedBy=multi-user.target
