.content {
  margin-top: 80px;
  margin-bottom: 40px;
  flex-grow: 1;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 1200px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #222;

  background: #eee;
  padding: 20px;
  border-radius: 10px;
  font-family: Consolas;

  white-space: pre;
  overflow-x: auto;
}

.highlight-true {
  color: #22863a;
  background-color: #f0fff4;
}

.highlight-false {
  color: #b31d28;
  background-color: #ffeef0;
}