.container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
}

.hero {
  background: linear-gradient(-2deg, #0a0a10, #131319);
  display: flex;

  .container {
    flex-wrap: wrap;

    @include breakpoint($md) {
      flex-wrap: nowrap;
    }
  }

  h1 {
    margin: 0 0 1rem;
    line-height: 1;
    font-size: 2em;

    @include breakpoint($md) {
      font-size: 3em;
    }
  }

  p {
    margin: 0;
    opacity: .5;
  }
}

a {
  color: $brand-color;

  &:hover {
    color: lighten($brand-color, 10%);
  }
}

code, .code {
  border: 0;
  display: inline-block;
  font-family: 'Source Code Pro', monospace;
  padding: .2em .5em;
  background: rgba(0,0,0,.2);
  font-size: .8em;
  border-radius: 2px;
  line-height: 1.5;

  &.true {
    color: $brand-color;
  }

  &.false {
    color: tomato;
  }

  &.undefined {
    color: grey;
  }
}

.button {
  border: 0;
  font: inherit;
  font-weight: bold;
  background: $brand-color;
  color: $navy;
  font-size: 1.5em;
  padding: 1rem 2rem;
  text-align: center;
  line-height: 1;
  text-decoration: none;
  border-radius: 2px;
  transition: background .2s;
  cursor: pointer;

  @include breakpoint($md) {
    font-size: 2em;
  }

  &:hover {
    background: lighten($brand-color, 10%);
  }

  span {
    display: block;
    font-weight: bold;

    svg {
      margin-right: .5rem;
      opacity: .5;
    }
  }

  small {
    font-size: 1rem;
    font-weight: normal;
    opacity: .75;

    @include breakpoint($md) {
      font-size: 1.25rem;
    }
  }
	
  &.demo-button {
    font-size: 1rem;
    padding: .5rem 1rem;
  }
}

.resources {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include breakpoint($md) {
    flex-direction: row;
  }

  > div {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem;

    h2 {
      margin-top: 0;
    }

    p, ol, ul {
      margin-top: 0;
      opacity: .75;
    }

    @include breakpoint($md) {
      width: 50%;
      padding: 4rem;

      &:first-child {
        padding-right: 2rem;
      }

      &:last-child {
        padding-left: 2rem;
      }
    }
  }

  a.resource {
    display: block;
    background: $grey;
    color: $brand-color;
    padding: 1.5rem;
    line-height: 1;
    text-decoration: none;
    border-radius: 2px;
    font-size: 1.5em;
    transition: background .2s;
    box-shadow: 0 0 1rem rgba(0,0,0,.1);

    &:not(:last-child) {
      margin-bottom: 2rem;
    }

    &:hover {
      background: lighten($grey, 10%);
    }

    span {
      display: block;
      font-weight: bold;
      margin-bottom: .5rem;
    }

    svg {
      margin-right: .5rem;
      opacity: .5;
    }

    small {
      color: white;
      opacity: .4;
      font-size: 1rem;
    }
  }
}

.lighter {
  opacity: .66;
}

.tool-intro {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  > div {
    display: flex;
    align-items: flex-start;
    background: $bg-gradient;
    padding: 2em;
    max-width: 40rem;
    border-radius: 2px;
  }

  img {
    height: 13rem;
    width: auto;
    margin-right: 2em;
    box-shadow: 0rem 0rem 2rem rgba(0,0,0,0.1);
    border-radius: 100%;
  }

  h1 {
    font-size: 3em;
    line-height: 1;
    margin: 0;

    + p {
      font-size: 1.5em;
      margin-top: 0;
      margin-bottom: 1rem;
    }
  }

  p {
    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  ul {
    margin: 0;
    margin-top: 1em;
    padding-left: 1.5em;

    li {
      margin-bottom: .25em;

      &:last-child {
        margin: 0;
      }
    }
  }

  svg {
    margin-right: .5em;
    opacity: .5;
  }

  .error {
    margin-top: 1em;
    color: $red;
  }
}

.overlay-focus {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 50;
  background: rgba(0,0,0,.5);
}